<ion-view view-title="Word List">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>
    <p>
    Heres a list of cool words. Add some that you think are cool.
    </p>

    <div class="item item-input">
      <input type="text" placeholder="Cool Word Here..." ng-model="new_word">
      <button ng-click="addWord(new_word)" class="button"> Submit </button>
    </div>
    <hr>

    <div class="list card padding">
      <label class="item row" ng-repeat="word in wordList">
        <h4>{{word}} </h4>
        <button class="button icon-only ion-close">
        </button>
      </label>

    </div>
    
  </ion-content>
</ion-view>
