<ion-view view-title="Whale">
  <ion-content class="padding">
    <h2> Login to Whale</h2>
    <div class="list card padding">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
            <button ng-click="loginEmail(user)" class="button button-block button-positive activated">
                Sign In
            </button>
        </div>
        <button ng-click="googleSign()" class="button button-outline icon-left ion-social-google button-positive">
            Google Sign In
        </button>
        <div class="list" style="text-align:center">
            <button ng-click="reSet(user)" class="button button-small button-outline icon-left ion-locked button-positive"">
                Reset My Password
            </button>
            <button ng-click="openModal()" class="button button-small button-outline icon-left ion-person-add button-positive">
                Create New Account
            </button>
  </div>
  </ion-content>
</ion-view>