<ion-modal-view>
   <ion-header-bar>
      <h1 class = "title">Create an Account </h1>
      <button class = "button icon icon-right ion-ios-close-outline"
         ng-click = "closeModal()"></button>
   </ion-header-bar>
   <ion-content>
         <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" ng-model="user.email">
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="user.password">
        </label>
        <button ng-click="signupEmail(user)" class="button button-block button-positive activated">
            Sign In
        </button>
   </ion-content>
</ion-modal-view>