<ion-view view-title="Whale">
  <ion-content class="padding">
    <h2> Pretend to Login </h2>
    <div class="list card padding">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
            <button ng-click="signIn(user)" class="button button-block button-positive activated">
                Sign In
            </button>
        </div>
        <div class="list" style="text-align:center">
            <button ng-click="reSet(user)" class="button button-small button-outline icon-left ion-locked button-positive"">
                Reset My Password
            </button>
            <button ng-click="modal.show()" class="button button-small button-outline icon-left ion-person-add button-positive">
                Create New Account
            </button>
  </div>

  <h1> testing fields </h1>
  <h3> Email is: {{user}} </h3>
  </ion-content>
</ion-view>
